version: '3.9'
services:
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - GROQ_API_KEY=${GROQ_API_KEY}
      - POSTGRES_URL=${POSTGRES_URL}
    volumes:
      - ./backend/app:/app/app

  frontend:
    build:
      context: ./frontend
    ports:
      - "5001:5001"
    volumes:
      - ./frontend:/app
      - /app/node_modules
