/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #343541;
  color: #fff;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
