html, body, #root {
  margin: 0px!important;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: #343541; /* match your app background */
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}